.global-bg {
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2; /* Ajustado para ficar atrás de outros elementos */
  overflow: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

html {
  background-color: #212529;
}