
form {
    background-color: rgba(52, 58, 64, 0.7);
    padding: 75px;
    border-radius: 50px;
    max-width: 900px;
    margin: 0 auto;
}
@media (min-width: 120px) {
    .container {
        max-width: 900px;
    }
    
    .card {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .form-control, .form-select {
        padding: 10px 12px;
    }
    
    .card-header {
        padding: 1rem;
    }
    
    .card-body {
        padding: 1.25rem;
    }
}